{% extends 'base.html' %}

{% block header %}
    {{ super() }}

    <script>
        window.warpGlobals.login = "{{ g.login }}";
    </script>

{% endblock %}

{% block header_final %}
    {{ super() }}
    {% include 'headers/' ~ (request.endpoint|replace('view.','',1)) ~ '.html' ignore missing %}
{% endblock %}

{% block overlays %}
    {{ super() }}

    <div id="spinner"></div>

    <ul class="sidenav" id="mobile-nav">
        {% for i in headerDataL %}
        <li {{ 'class="active"'|safe if i['active'] }}><a href="{{i['url']}}" class="TR">{{i['text']}}</a></li>
        {% endfor %}
        {% if g.isAdmin %}
        <li class="divider"></li>
        {% for i in headerDataR %}
        <li {{ 'class="active"'|safe if i['active'] }}><a href="{{i['url']}}" class="TR">{{i['text']}}</a></li>
        {% endfor %}
        {% endif %}
        {% if hasLogout %}
        <li class="divider"></li>
        <li><a href="{{ url_for('auth.logout') }}" class="TR">Logout</a></li>
        {% endif %}
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var e = document.getElementById('mobile-nav');
            M.Sidenav.init(e);
        });
    </script>

{% endblock  %}

{% block content %}
    {{ super() }}

    <nav>

        <div class="nav-wrapper">
            <div class='right'>
                <a href="{{ url_for('view.index')}}" class="right"><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}"></a>
            </div>
            {% if g.isAdmin %}
            <ul class="right hide-on-med-and-down">
                {% for i in headerDataR %}
                <li {{ 'class="active"'|safe if i['active'] }}><a href="{{i['url']}}" class="TR">{{i['text']}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                {% for i in headerDataL %}
                <li {{ 'class="active"'|safe if i['active'] }}><a href="{{i['url']}}" class="TR">{{i['text']}}</a></li>
                {% endfor %}
                {% if hasLogout %}
                <li><a href="{{ url_for('auth.logout') }}"><i class="material-icons">logout</i></a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

{% endblock %}


{#
{% if self.container() | trim %}
<div class="container">
    {% block container %}{% endblock %}
</div>
{% endif %}
#}

