{% extends 'base.html' %}

{% block header %}
    {{ super() }}

    {% if isManager %}
    <script>
        var getUsersURL = "{{ url_for('xhr.getUsers')}}"
        var actAsSetURL = "{{ url_for('xhr.actAsSet')}}"
        var isM = true;
    </script> 
    <script type="text/javascript" src="{{ url_for('static', filename='actas.js') }}"></script>
    {% endif %}

{% endblock %}

{% block content %}
    {{ super() }}

<nav>
    <div class="nav-wrapper">

        <div class='right'>
            <a href="{{ url_for('view.index')}}" class="right"><img class="logo" src="{{ url_for('static', filename='logo.png') }}"></a>
        </div>
        {% if isManager %}
        <div class="act-as-container right hide-on-med-and-down">
            <div class="input-field">
                <input type="text" id="act-as1" class="autocomplete act-as-input" autocomplete="off">
                <label for="act-as1" class="active">Book as</label>
            </div>
        </div>
        {% endif %}
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            {% for i in headerData %}
            <li {{ 'class="active"'|safe if i['active'] }}><a href="{{i['url']}}">{{i['text']}}</a></li>
            {% endfor %}
            {% if hasLogout %}
            <li><a href="{{ url_for('auth.logout') }}"><i class="material-icons">logout</i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-nav">
    {% for i in headerData %}
    <li {{ 'class="active"'|safe if i['active'] }}><a href="{{i['url']}}">{{i['text']}}</a></li>
    {% endfor %}
    {% if hasLogout or isManager %}
    <li class="divider"></li>
    {% endif %}
    {% if isManager %}
    <li class="act-as-container">
        <div class="input-field">
            <input type="text" id="act-as2" class="autocomplete act-as-input" autocomplete="off">
            <label for="act-as2" class="active">Book as</label>
        </div>
    </li>
    {% endif %}
    {% if hasLogout %}
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    {% endif %}
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var e = document.getElementById('mobile-nav');
        M.Sidenav.init(e);
    });
</script>

{% if self.container() | trim %}
<div class="container">
    {% block container %}{% endblock %}
</div>
{% endif %}
{% endblock %}
