<!doctype html>
<html>
<head>
    <title>WARP</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='materialize/materialize.min.css') }}"  media="screen,projection"/>

    <script>
        window.warpGlobals = { URLs: {} };
    </script>

    {% block header %}{% endblock %}    
</head>
<body>

    {% block content %}{% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='materialize/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='modal.js') }}"></script>
</body>
</html>