{% extends 'base_logged.html' %}

{% block header %}
    {{ super() }}

<script src="{{ url_for('static', filename='tabulator/tabulator.min.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='tabulator/tabulator_materialize.min.css') }}"/>
<style>
    .tabulator-footer { text-align: left !important; }

    .delete_icon {
        height: 24px;
        width: 24px;
        background-image: url('{{ url_for('static', filename='delete_icon.png') }}');
    }
</style>

<script>
    {% if report %}
    window.warpGlobals.URLs['bookingsReport'] = "{{ url_for('xhr.bookings.report') }}";
    window.warpGlobals['report'] = true;
    {% else %}
    window.warpGlobals.URLs['bookingsReport'] = "{{ url_for('xhr.bookings.list') }}";
    window.warpGlobals.URLs['zoneApply'] = "{{ url_for('xhr.zone.apply') }}";
    window.warpGlobals['report'] = false;
    {% endif %}
</script>

<script src="{{ url_for('static', filename='bookings.js') }}"></script>

{% endblock %}

{% block overlays %}
    {{ super() }}

    {% if report %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light orange accent-4" id="export_btn">
            <img src="{{ url_for('static', filename='excel_icon.png') }}">
        </a>
    </div>
    {% endif %}

{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container">
        <div id="reportTable"></div>
    </div>
{% endblock %}
