{% extends 'base_logged.html' %}

{% block header %}
    {{ super() }}

<script src="{{ url_for('static', filename='tabulator/tabulator.min.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='tabulator/tabulator_materialize.min.css') }}"/>

<script>
    zoneApplyURL = "{{ url_for('xhr.zoneApply') }}";
    bookingsGetURL = "{{ url_for('xhr.bookingsGet') }}";
</script>
<script src="{{ url_for('static', filename='bookings.js') }}"></script>

{% endblock %}

{% block container %}

<div id="bookingsTable"></div>

{% endblock %}
