{% extends 'base_logged.html' %}

{% block header %}

<script>
    getBookingsURL = "{{ url_for('main.bookingsGet',context=context) }}";
    removeBookingsURL = "{{ url_for('main.bookingsRemove') }}";
    dstTagId = "bookingsTable"
</script>
<script src="{{ url_for('static', filename='bookings.js') }}"></script>
{% endblock %}

{% block container %}

    <div id="delete_confirmation" class="modal">
        <div class="modal-content">
            <h4>Are you sure to delete this booking?</h4>
            <p id="delete_confirmation_msg"></p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="delete_confirmation_yes" class="modal-close waves-effect waves-green btn-flat">Yes</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
        </div>
  </div>

<table id="bookingsTable">
</table>

{% endblock %}
