{% extends 'base_logged.html' %}

{% block header %}
    {{ super() }}

<script src="{{ url_for('static', filename='tabulator/tabulator.min.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='tabulator/tabulator_materialize.min.css') }}"/>

<script>
    window.warpGlobals.URLs['usersList'] = "{{ url_for('xhr.users.list') }}";
    window.warpGlobals.URLs['usersDelete'] = "{{ url_for('xhr.users.delete') }}";
    window.warpGlobals.URLs['usersEdit'] = "{{ url_for('xhr.users.edit') }}";

    window.warpGlobals.URLs['groupManage'] = "{{ url_for('view.groupManage', group_login='__LOGIN__') }}";
</script>
<script src="{{ url_for('static', filename='groups.js') }}"></script>

{% endblock %}

{% block overlays %}
    {{ super() }}

<div id="edit_modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12 m4">
                <input id="login" type="text" required>
                <label for="login">Group id</label>
            </div>
            <div class="input-field col s12 m8">
                <input id="name" type="text" required>
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row" style="display: none" id="error_div">
            <div class="col s12" style="color: red" id="error_message">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn red darken-2" id="edit_modal_delete_btn">DELETE</a>
        <a href="#!" class="waves-effect waves-light btn" id="edit_modal_save_btn">SAVE</a>
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancel</a>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light orange accent-4" id="add_user_btn">
        <i class="material-icons-outlined">group_add</i>
    </a>
</div>


{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container">
        <div id="groupsTable"></div>
    </div>

{% endblock %}
