{% extends 'base_logged.html' %}

{% block header %}
    {{ super() }}

<script>
    window.warpGlobals.groupLogin = "{{ groupLogin }}";
    window.warpGlobals.groupName = "{{ groupName }}";
    window.warpGlobals.URLs['groupMemberList'] = "{{ url_for('xhr.groups.members') }}";
    window.warpGlobals.URLs['groupsAssignXHR'] = "{{ url_for('xhr.groups.assign') }}";
    window.warpGlobals.URLs['groupAssignView'] = "{{ url_for('view.groupAssign', group_login='__LOGIN__', return=request.url) }}";
    window.warpGlobals.URLs['usersList'] = "{{ url_for('xhr.users.list') }}";
</script>

{% endblock %}

{% block overlays %}
    {{ super() }}

    <div id="add_to_group_modal" class="modal">
        <div class="modal-content">
            <h4 id="add_to_group_modal_header"></h4>
            <div class="input-field">
                <input type="text" id="add_to_group_autocomplete" class="autocomplete" autocomplete="off">
                <label for="add_to_group_autocomplete" class="TR">Select user</label>
            </div>
            <div id="addToGroupTable">

            </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn zone_action_btn TR" id="add_to_group_modal_addbtn">btn.Add</a>
            <a href="#!" class="modal-close waves-effect waves-light btn-flat TR">btn.Cancel</a>
          </div>
    </div>


    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light orange accent-4" id="add_to_group_btn">
            <i class="material-icons-outlined">person_add_alt</i>
        </a>
    </div>


{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container group_assign_container">
        <div class="group_assign_title">
            <a href="{{ returnURL }}"><i class="medium material-icons">chevron_left</i></a>
            <span>
                <script>TR.inline('Members of: %{group}',{group:"{{ groupName }}"})</script>
            </span>
        </div>
        <div id="groupMembersTable"></div>
    </div>

{% endblock %}
