{% extends 'base_logged.html' %}

{% block header %}
    {{ super() }}

    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
        .index_container {
            margin: auto;
            width: 100%;
            height: 70%;
        }
    </style>
{% endblock %}


{% block content %}
    {{ super() }}

    <div class="index_container valign-wrapper">
        <div class="row center-align ">
            <div class="col s12">
                <img src="{{ url_for('static', filename='logo-color.png') }}">
            </div>
            <div class="col s12">
                Welcome to Workspace Autonomous Reservation Program
            </div>
        </div>  
    </div>

{% endblock %}