{% extends 'base_logged.html' %}

{% block header %}
    {{ super() }}

<script src="{{ url_for('static', filename='tabulator/tabulator.min.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='tabulator/tabulator_materialize.min.css') }}"/>

<script>
    window.warpGlobals.URLs['editUser'] = "{{ url_for('xhr.editUser') }}";
</script>
<script src="{{ url_for('static', filename='users.js') }}"></script>

{% endblock %}

{% block overlays %}
    {{ super() }}

<div id="edit_modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12 m4">
                <input id="login" type="text" required>
                <label for="login">Login</label>
            </div>
            <div class="input-field col s12 m8">
                <select id="role_select">
                </select>
                <label>Role</label>
            </div>

            <div class="input-field col s12">
                <input id="name" type="text" required>
                <label for="name">Name</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="password" type="password">
                <label for="password">Password</label>
                <i class="material-icons show_password_btn"></i>
            </div>
            <div class="input-field col s12 m6">
                <input id="password2" type="password">
                <label for="password2">Retype password</label>
                <i class="material-icons show_password_btn"></i>
            </div>
        </div>
        <div class="row" style="display: none" id="error_div">
            <div class="col s12" style="color: red" id="error_message">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-light btn-flat left" id="generate_password_btn">Generate password</a>
        <a href="#!" class="modal-close waves-effect waves-light btn red darken-2" id="edit_modal_delete_btn">DELETE</a>              
        <a href="#!" class="waves-effect waves-light btn" id="edit_modal_save_btn">SAVE</a>              
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancel</a>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light orange accent-4" id="add_user_btn">
        <i class="large material-icons">add</i>
    </a>
</div>


{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container">
        <div id="usersTable"></div>
    </div>

{% endblock %}
