{% extends 'base_logged.html' %}

{% block header %}
    {{ super() }}

<script>
    window.warpGlobals.zid = {{ zid }};
    window.warpGlobals.returnURL = "{{ returnURL }}";
    window.warpGlobals.URLs['zonesModifyXHR'] = "{{ url_for('xhr.zones.modify') }}";
    window.warpGlobals.URLs['zonesGetSeats'] = "{{ url_for('xhr.zones.getSeats', zid=zid) }}";
    window.warpGlobals.URLs['seatSprite'] = "{{ url_for('static',filename='images/seat_icons.png') }}";
</script>

{% endblock %}

{% block content %}
    {{ super() }}

  <div class="zone_modify_container">

    <div class="zone_modify_map" id="zone_map_container">
      <img id="zone_map" src="{{ url_for('view.zoneImage', zid=zid) }}" draggable="false">
    </div>

    <div class="zone_modify_sidepanel">
      <input type="file" accept="image/jpeg,image/png" id="mapUploadInput" style="display:none">
      <div class="zone_modify_sidepanel_top">
          <a class="waves-effect waves-light btn TR" id="chooseImgBtn">btn.Upload map</a>
      </div>
      <div class="zone_modify_sidepanel_top">
          <a class="waves-effect waves-light btn" id="addSeatBtn"></a>
      </div>

      <div>
        <div id="seat_edit_panel" style="visibility: hidden">
          <div class="input-field">
            <input id="seat_name" type="text">
            <label for="seat_name" class="TR">seatEdit.Seat name</label>
          </div>
          <div class="input-field">
            <input id="seat_x" type="number" min="0">
            <label for="seat_x" class="TR">seatEdit.X</label>
          </div>
          <div class="input-field">
            <input id="seat_y" type="number" min="0">
            <label for="seat_y" class="TR">seatEdit.Y</label>
          </div>
          <div class="input-field center-align">
            <a class="waves-effect waves-light btn TR" id="seat_delete_btn">btn.Delete</a>
          </div>
          <div class="input-field center-align">
            <a class="waves-effect waves-light btn TR" id="transform_btn">btn.Align all</a>
          </div>
        </div>

      </div>

      <div class="zone_modify_sidepanel_bottom">
        <a class="waves-effect waves-light btn btn-flat TR" id="cancelBtn">btn.Cancel</a>
        <a class="waves-effect waves-light btn disabled TR" id="saveBtn">btn.Save</a>
      </div>

    </div>

  </div>

{% endblock %}
