{% extends 'base_logged.html' %}

{% block header %}
    {{ super() }}

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='nouislider/nouislider.css') }}"  media="screen,projection"/>
    <script type="text/javascript" src="{{ url_for('static', filename='nouislider/nouislider.min.js') }}"></script>

    <script>
        getSeatURL = "{{ url_for('xhr.zoneGetSeats',zid=zone_data['id']) }}";
        zoneApplyURL = "{{ url_for('xhr.zoneApply') }}";
        seatSpriteURL = "{{ url_for('static',filename='seat_icons.png') }}";        
        var zoneData = {{ zone_data | tojson }};
        var defaultSelections = {{ defaultSelections | tojson }};
    </script>

    <script src="{{ url_for('static', filename='zone.js') }}"></script>
    <script src="{{ url_for('static', filename='seat.js') }}"></script>

{% endblock %}

{% block content %}
    {{ super() }}

    <div id="action_modal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4 id="action_modal_title" style="display: none;"></h4>
            <div class="row">
                <div class="col s3" id="action_modal_msg1"  style="display:none">
                </div>
                <div class="col s3" id="action_modal_msg2" style="display:none">
                </div>
                <div class="col s2 right">
                    <a href="#!" class="modal-close waves-effect waves-light btn zone_action_btn" data-action="book">Book</a>
                    <a href="#!" class="modal-close waves-effect waves-light btn zone_action_btn" data-action="update">Update</a>
                    <a href="#!" class="modal-close waves-effect waves-light btn zone_action_btn" data-action="delete">Remove</a>
                    {% if isManager %}
                    <a href="#!" class="modal-close waves-effect waves-light btn red darken-2 zone_action_btn" data-action="assign-modal">Assign</a>
                    <a href="#!" class="modal-close waves-effect waves-light btn red darken-2 zone_action_btn" data-action="enable">Enable</a>
                    <a href="#!" class="modal-close waves-effect waves-light btn red darken-2 zone_action_btn" data-action="disable">Disable</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if isManager %}
    <div id="assigned_seat_modal" class="modal">
        <div class="modal-content">
            <h4 id="assigned_seat_header"></h4>
            <p>Select users to which the seat will be assigned:</p>
            <div class="chips chips-autocomplete" id="assigned_seat_chips"></div>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn zone_action_btn" data-action="assign">Set</a>              
            <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancel</a>
          </div>
    </div>
    {% endif %}

    <div>

        <div class="row">
            <div class="col s2">
                {% for w in nextWeek %}
                <p>
                    <label>
                        <input class="filled-in date_checkbox" type="checkbox" value="{{w['timestamp']}}" />
                        <span>{{ w['weekday'] }}, {{ w['date'] }}</span>
                    </label>
                </p>        
                {% endfor %}
            </div>

            <div class="col">
                <div id="timeslider-min" class="timeslider-hint">12:00</div>
                <div id="timeslider" class="timeslider"></div>
                <div id="timeslider-max" class="timeslider-hint">12:00</div>
            </div>

            <div class="zonemap col s9" id="zonemap">
                <div id="seat_preview">
                </div>

                <img src="{{ url_for('static', filename=zone_data['image']) }}">                        
            </div>
        </div>
    </div>

{% endblock %}


