<dialog id="add_to_group_modal" class="modal warp-form-modal warp-fields">
    <div class="modal-content">
        <h4 id="add_to_group_modal_header"></h4>
        <div class="input-field">
            <input type="text" id="add_to_group_autocomplete" class="autocomplete" autocomplete="off">
            <label for="add_to_group_autocomplete" class="TR">Select user</label>
        </div>
        <div id="addToGroupTable">

        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn zone_action_btn TR" id="add_to_group_modal_addbtn">btn.Add</a>
        <a href="#!" class="modal-close waves-effect waves-light btn-flat TR">btn.Cancel</a>
      </div>
</dialog>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light warp-fab-add" id="add_to_group_btn">
        <i class="material-icons-outlined">person_add_alt</i>
    </a>
</div>

<div class="container group_assign_container">
    <div class="group_assign_title">
        <a id="group_assign_return_link" href="/groups"><i class="medium material-icons">chevron_left</i></a>
        <span id="group_assign_title_text"></span>
    </div>
    <div id="groupMembersTable"></div>
</div>
