<dialog id="edit_modal" class="modal warp-form-modal warp-fields">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12 m4">
                <input id="login" type="text" required>
                <label for="login" class="TR">Group id</label>
            </div>
            <div class="input-field col s12 m8">
                <input id="name" type="text" required>
                <label for="name" class="TR">Group name</label>
            </div>
        </div>
        <div class="row" style="display: none" id="error_div">
            <div class="col s12" style="color: red" id="error_message">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="modal-close waves-effect waves-light btn warp-btn-danger TR" id="edit_modal_delete_btn">btn.Delete</button>
        <button type="button" class="waves-effect waves-light btn TR" id="edit_modal_save_btn">btn.Save</button>
        <button type="button" class="modal-close waves-effect waves-light btn-flat TR">btn.Cancel</button>
    </div>
</dialog>

<div class="fixed-action-btn">
    <button type="button" class="btn-floating btn-large waves-effect waves-light warp-fab-add" id="add_user_btn">
        <i class="material-icons-outlined">group_add</i>
    </button>
</div>

<div class="container">
    <div id="groupsTable"></div>
</div>
