
HTML, BODY {
    width: 100%;
    height: 100%;
}

NAV {
    z-index: 5;
}

.nav-wrapper DIV,A {
    height: 100%;
}

.logo {
    height: 100%;
    padding: 10px;
}

.warp-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.container {
    min-height: 0px;
    padding-bottom: 15px;
}

.index_container {
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.index_container > DIV {
    text-align: center;
}

.index_container IMG {
    max-width: 70%;
    height: auto;
}

.nav-wrapper .input-field label {
    color: #ffffff !important;
}
.nav-wrapper .input-field input[type=text] {
    color: #ffffff;
}
.nav-wrapper .input-field input[type=text]:focus + label {
    color: #ffffff !important;
}
.nav-wrapper .input-field input[type=text]:focus {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
}

.sidenav .input-field {
    padding: 0 32px;
}

.sidenav LABEL {
    margin: 0 32px;
}

.book-as_container {
    display: none;
}

.noUi-warp-connect {
    background: #ff6d00;
    height: 100%;
    width: 100%;
}

.noUi-warp-handle {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    box-shadow: inset 0 0 1px #FFF,
    inset 0 1px 7px #EBEBEB,
    0 3px 6px -3px #BBB;
  }

  .timeslider {
      height: 400px!important;
      margin-left: auto;
      margin-right: auto;
  }

  .timeslider-hint {
    color: #9e9e9e;
    text-align: center;
    width: 60px;
    border: 1px solid#3949ab;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bookingsTable {
    margin-top: 5px;
}

.usersTopDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.zone_container {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    min-height: 0px;
    min-width: 0px;
}

#zone_sidepanel {
    flex: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
    z-index: 1;
}

.zone_sidepanel_close {
    display: none;
    margin-left: auto;
    cursor: pointer;
}

.zone_sidepanel_topcontainer {
    display: flex;
    flex-direction: row;
}

.zone_datetime_container {
    display: flex;
    flex-direction: row;
}

.zonemap_datetime_trigger {
    position: fixed;
    left: 0px;
    color: #9e9e9e;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width : 993px) {
    #zone_sidepanel {
        position: fixed;
        max-height: calc(100% - 56px);
        background-color: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        z-index: 999;   /* materializecss overlay has 997 */
        overflow-y: auto;
        transform: translateX(-105%);
    }

    /* nav header is becoming bigger from 601px, so we need to recalculate */
    @media only screen and (min-width: 601px) {
        #zone_sidepanel {
            max-height: calc(100% - 64px);
        }
    }

    .zone_sidepanel_close {
        display: block;
    }

    .zonemap_datetime_trigger {
        display: block;
        z-index: 2;
    }
}

.zone_datelist {
    vertical-align:middle;
    display: inline-block;
    text-align: left;
}

.zone_map {
    flex: 0 1 auto;
    min-width: 0px;
    min-height: 0px;
    overflow: auto;
    position: relative;
}

.zonemap_help {
    position: fixed;
    right: 0px;
    color: #9e9e9e;
    cursor: pointer;
}

.zone_action_btn {
    /*width: 100px;*/
    margin: 5px;
}

.seat_preview {
    position: absolute;
    border: 2px solid #3949ab;
    background-color: white;
    z-index: 1;
    font-size: 10px;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}

.seat_preview_title {
    background-color: #3949ab;
    color: white;
    padding: 0px 4px;
}

.seat_preview_header {
    padding: 0px 4px;
    font-weight: bold;
}

.seat_preview TABLE,tr {
    border: none !important;
}

.seat_preview td {
    color: #6e6e6e;
    padding: 0px 4px;
    text-align: left;
    vertical-align: middle;
}

#action_modal .modal-content {
    font-size: 10px;
}

#action_modal .modal-content P {
    font-weight: bold;
}

#action_modal .modal-content TABLE {
    width: auto;
}

#action_modal .modal-content TD {
    padding: 0 15px 0 0;
}


.show_password_btn {
    position: absolute;
    right: 12px;
    top: 10px;
    font-size: 2rem;
    opacity: .5;
}

INPUT[type="password"] ~ .show_password_btn::after {
    content: "visibility";
}

INPUT[type="text"] ~ .show_password_btn::after {
    content: "visibility_off";
}

.tabulator-footer {
    text-align: left !important;
}

.group_assign_title {
    font-size: 2.28rem;
    line-height: 110%;
    padding: 10px 0px;
}

@media only screen and (min-width : 993px) {
    .group_assign_title {
        margin-left: -60px;
    }
}

.group_assign_title A {
    text-decoration: none;
    color: inherit;
}

.group_assign_title SPAN, .group_assign_title I {
    vertical-align: middle;
}

.group_assign_container {
    display: flex;
    flex-direction: column;
}

.TR {
    visibility: hidden;
}

.zone_assign_title {
    font-size: 2.28rem;
    line-height: 110%;
    padding: 10px 0px;
}

@media only screen and (min-width : 993px) {
    .zone_assign_title {
        margin-left: -60px;
    }
}

.zone_assign_title A {
    text-decoration: none;
    color: inherit;
}

.zone_assign_title SPAN, .zone_assign_title I {
    vertical-align: middle;
}

.zone_assign_container {
    display: flex;
    flex-direction: column;
}

.userGroupCell {
    color: black;
    text-decoration: none;
}

.userGroupCell:hover {
    text-decoration: underline;
}

.zone_modify_container {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    min-height: 0px;
    min-width: 0px;
}

.zone_modify_sidepanel {
    flex: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
    width: 300px;
    align-items: center;
    margin-left: auto;
}

.zone_modify_sidepanel DIV {
    flex: auto;
}

.zone_modify_sidepanel_top {
    flex: none !important;
    margin-bottom: 10px;
}

.zone_modify_sidepanel_bottom {
    flex: none !important;
}

.zone_modify_map {
    flex: 0 1 auto;
    min-width: 0px;
    min-height: 0px;
    overflow: auto;
    position: relative;
}

#spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}

#spinner.active {
    opacity: 0.8;
    visibility: visible;
    transition: visibility 1s ease-in-out 0s, opacity 1s ease-in-out 1s;
}

#spinner::after {
    content: "";
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-top: 6px solid #ffe0b2;
    border-right: 6px solid #ffe0b2;
    border-bottom: 6px solid #ffe0b2;
    border-left: 6px solid #ff6d00;
    animation: spinnerRotate 1s infinite linear;
}

@keyframes spinnerRotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
